<form [formGroup]="optionsForm">


  <input type="radio" name="option" value="1" formControlName="option" (change)="change()" />
  <span>Profile</span>
  <input type="radio" name="option" value="2" formControlName="option" (change)="change()" />
  <span>Update Profile</span>

  <input type="radio" name="option" value="3" formControlName="option" (change)="change()" />
  <span>Change Password</span>
  <div *ngIf="jwtService.getRole() == 'AppUser'">
    <input type="radio" name="option" value="4" formControlName="option" (change)="change()" />
    <span>Update Picture</span>
  </div>

</form>

<ng-container id="profile" *ngIf='optionsForm.get("option").value === "1"'>
  <label>Username:</label> <label>{{profile.username}}</label> <br />
  <label>Email: {{profile.email}}</label> <br />

  <div *ngIf="jwtService.getRole() == 'AppUser'">
    <label>Name: {{profile.name}}</label> <br />
    <label>Surname: {{profile.surname}}</label> <br />
    <label>Date of birth: {{profile.dateOfBirth}}</label><br />
    <label>Type: {{profile.type}}</label><br/>
    <label>Picture: </label><img [src]="mySrc" />
    
  </div>
</ng-container>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf='optionsForm.get("option").value === "2"'
  (click)="onClickProfile()">
  <div class="register-group">


    <br />
    <label for="email">Email:</label>
    <input formControlName="email" required />
    <br />

    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
      <div *ngIf="f.email.errors.required">
        Email is required.
      </div>
      <div *ngIf="f.email.errors.email">
        Please enter valid email address.
      </div>
    </div>



    <div *ngIf='jwtService.getRole() == "AppUser"'>



      <br />
      <label for="name">Name:</label>
      <input id="name" formControlName="name" required />
      <br />

      <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
        <div *ngIf="f.name.errors.required">
          Name is required.
        </div>
      </div>

      <br />
      <label for="surname">Surname:</label>
      <input id="surname" formControlName="surname" required />
      <br />

      <div *ngIf="f.surname.invalid && (f.surname.dirty || f.surname.touched)" class="alert alert-danger">
        <div *ngIf="f.surname.errors.required">
          Surname is required.
        </div>
      </div>

      <input type="radio" name="type" value="Regular" formControlName="type" checked="checked" /> <span>Regular</span>
      <input type="radio" name="type" value="Senior" formControlName="type" /> <span>Senior</span>
      <input type="radio" name="type" value="Student" formControlName="type" /> <span>Student</span>

      <br />
      <label for="dateOfBirth">Date of birth:</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" />
      <br />
    </div>


  </div>


  <button tpye="submit" [disabled]="profileForm.invalid"> Submit </button>
</form>



<form [formGroup]="changePasswordForm" *ngIf='optionsForm.get("option").value === "3"'
  (ngSubmit)="onSubmitChangePassword()">
  <br />
  <label for="password">New password:</label>
  <input type="password" formControlName="password" required />
  <br />

  <div *ngIf="ch.password.invalid && (ch.password.dirty || ch.password.touched)" class="alert alert-danger">
    <div *ngIf="ch.password.errors.required">
      Password is required.
    </div>
    <div *ngIf="ch.password.errors.minlength">
      Password must be at least 6 characters long.
    </div>
    <div *ngIf="ch.password.errors.pattern">
      Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9').
      Passwords must have at least one uppercase ('A'-'Z').
    </div>
  </div>


  <br />
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" formControlName="confirmPassword" required />
  <br />
  <div *ngIf="changePasswordForm.errors?.doesntMatch && (ch.confirmPassword.dirty || ch.confirmPassword.touched)"
    class="alert alert-danger">
    Doesnt match with password.
  </div>


  <br />
  <label for="oldPassword">Old Password:</label>
  <input type="password" formControlName="oldPassword" required />
  <br />
  <div *ngIf="ch.oldPassword.invalid && (ch.oldPassword.dirty || ch.oldPassword.touched)" class="alert alert-danger">
    <div *ngIf="ch.oldPassword.errors.required">
      Password is required.
    </div>
    <div *ngIf="ch.oldPassword.errors.minlength">
      Password must be at least 6 characters long.
    </div>
    <div *ngIf="ch.oldPassword.errors.pattern">
      Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9').
      Passwords must have at least one uppercase ('A'-'Z').
    </div>
  </div>
  <button tpye="submit" [disabled]="changePasswordForm.invalid"> Submit </button>
</form>

<div *ngIf='optionsForm.get("option").value === "4"'>
  <br />
  <label for="Picture">Picture</label>
  <input type="file" (change)="onFileSelected($event)" />
  <button type="submit" [disabled]="selectedFile == null" (click)="onSubmitPicture()">Submit</button>
  <br />
</div>

<ul class="serverErrors">
  <li *ngFor="let error of serverErrors">
    {{error}}
  </li>
</ul>