<div class=timetable>
  <ul>
    <li [class.selected]="isUrbanSelection===true">
      <a (click)="onIsUrbanSelection(true)">Urban</a>
    </li>
    <li [class.selected]="isUrbanSelection===false">
      <a (click)="onIsUrbanSelection(false)">Suburban</a>
    </li>
  </ul>
  
  <ul *ngIf="isUrbanSelection==true">
    <li *ngFor="let line of urbanLines"
      (click)="onLineSelection(line)"
      [class.selected]="line.OrderNumber===lineSelection.OrderNumber">
      {{line.OrderNumber}}
    </li>
  </ul>
  
  <ul *ngIf="isUrbanSelection==false">
    <li *ngFor="let line of suburbanLines"
      (click)="onLineSelection(line)"
      [class.selected]="line.OrderNumber===lineSelection.OrderNumber">
      {{line.OrderNumber}}
    </li>
  </ul>
  
  <table>
    <tr>
      <th (click)=onDaySelection(0) [class.selected]="daySelection==0">
        Weekday
      </th>
      <th (click)=onDaySelection(1) [class.selected]="daySelection==1">
        Sathurday
      </th>
      <th (click)=onDaySelection(2) [class.selected]="daySelection==2">
        Sunday
      </th>
    </tr>
    <ng-container *ngIf="filteredDepartures!=undefined && filteredDepartures!=null && filteredDepartures.length > 0; else noDepartuers">
      <ng-container *ngIf="daySelection==undefined || daySelection==null">
        <tr *ngFor="let departure of filteredDepartures">
          <td>{{departure.weekday}}</td>
          <td>{{departure.sathurday}}</td>
          <td>{{departure.sunday}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==0">
        <tr *ngFor="let departure of filteredDepartures">
          <td>{{departure.weekday}}</td>      
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==1">
        <tr *ngFor="let departure of filteredDepartures">
          <td>{{departure.sathurday}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==2">
        <tr *ngFor="let departure of filteredDepartures">
          <td>{{departure.sunday}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
  
  <ng-template #noDepartuers>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
  </ng-template>
</div>
