<ul class="nav nav-pills">
  <li class="nav-item" (click)="selectFunction(0)">
    <a  class="nav-link" [class.active]="functionSelection==0" 
        routerLink="timetable">Timetable</a>
  </li>
  <li class="nav-item" *ngIf="jwtService.getRole()==='Admin'" (click)="selectFunction(1)">
    <a  class="nav-link" [class.active]="functionSelection==1" 
        routerLink="timetable-editor">Timetable Editor</a>
  </li>
  <li class="nav-item" (click)="selectFunction(2)">
    <a  class="nav-link" [class.active]='functionSelection==2'
        routerLink="bus-lines">Bus lies</a>
  </li>
  <li class="nav-item" *ngIf="jwtService.getRole()==='Admin'" (click)="selectFunction(3)">
    <a  class="nav-link" [class.active]='functionSelection==3'
        routerLink="map-builder">Map Builder</a>
  </li>
  <li class="nav-item" (click)="selectFunction(4)">
    <a  class="nav-link" [class.active]='functionSelection==4'
        routerLink="tickets">Tickets</a>
  </li>
  <li class="nav-item" *ngIf="jwtService.getRole()==='Controller'" (click)="selectFunction(5)">
    <a  class="nav-link" [class.active]='functionSelection==5'
        routerLink="ticket-validator">Ticket validator</a>
  </li>
  <li class="nav-item" (click)="selectFunction(6)">
    <a  class="nav-link" [class.active]='functionSelection==6'
        routerLink="bus-location">Bus location</a>
  </li>
</ul>