.selected {
  background-color: #000080 !important;
  color: white;
}

.function {
  padding: 0;
}

.function li {
  display:inline-block;
}

.function li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
  
  /* Change the link color on hover */
.function  li a:hover {
  background-color: #000080;
  color: white;
}