.nav-pills .nav-link {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000080;
}

.nav-pills .nav-link:not(.active) {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.nav-pills .nav-link:not(.active):hover {
  background-color: #0000b3cb !important;
  color: white;
}