<div class="timetable">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a (click)="onIsUrbanSelection(true)" class="btn" [class.active]="isUrbanSelection==true" role="button" aria-pressed="true">Urban</a>
    </li>
    <li class="nav-item">
      <a (click)="onIsUrbanSelection(false)" class="btn" [class.active]="isUrbanSelection==false" role="button" aria-pressed="true">Suburban</a>
    </li>
  </ul>

  <ng-container *ngIf="isUrbanSelection==true">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a *ngFor="let line of urbanLines" (click)="onLineSelection(line)" class="btn btn-primary btn-lg" [class.active]="line.orderNumber===lineSelection.orderNumber" role="button" aria-pressed="true">{{line.orderNumber}}</a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="isUrbanSelection==false">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a *ngFor="let line of suburbanLines" (click)="onLineSelection(line)" class="btn btn-primary btn-lg" [class.active]="line.orderNumber===lineSelection.orderNumber" role="button" aria-pressed="true">{{line.orderNumber}}</a>
      </li>
    </ul>
  </ng-container>

  <table class="table table-hover table-fixed">
    <thead>
      <tr align="center">
        <th (click)="onDaySelection(0)" [class.selected]="daySelection==0">
          Weekday
        </th>
        <th (click)="onDaySelection(1)" [class.selected]="daySelection==1">
          Sathurday
        </th>
        <th (click)="onDaySelection(2)" [class.selected]="daySelection==2">
          Sunday
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="daySelection==undefined || daySelection==null">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].weekday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].sathurday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].sunday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==0">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].weekday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==1">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].sathurday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==2">
        <tr *ngFor="let departure of filteredDepartures;  let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].sunday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <br />
  <a (click)="onSave()" class="btn btn-primary" role="button">Save</a>
</div>