
  .nav-pills .nav-link:not(.active) {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
  }


/* rgba(228, 22, 22, 0.8) */
.selected {
  background-color: #D91610 !important;
  color: white !important;
}

.timetable div td, div th {
    margin-left: 20%;
    align-content: center;
    align-items: center; 
    align-self: center;
    max-width: 600px;
}

table {
    width: 50%;
    border-collapse:collapse;
}

table td {
    border:1px solid #000;
 }

.timetable table {
    width: 60%;
    align-content: center !important;
    align-items: center !important; 
    align-self: center !important;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1700px;
}

.timetable .btn {
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
    background-color: rgba(217, 23, 16);
}

.timetable .btn:not(.active) {
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgba(217, 23, 16, 0.8);
    background-color: white;
}

.timetable > a {
    background-color: rgba(217, 23, 16) !important;
    color: white !important;
    margin-left: 100px !important;
}

.timetable > a:hover {
    background-color: rgba(217, 23, 16, 0.7) !important;
    color: white !important;
    /* margin-left: 500px !important; */
}

.timetable .nav-pills {
    margin-left: 100px;
}

.timetable th:hover {
    background-color: rgba(217, 23, 16, 0.85);
    color: white;
}

.timetable .nav a:hover {
    background-color: rgba(217, 23, 16, 0.85) !important;
    color: white !important;
}


.timetable li a:hover {
    background-color: #555;
    color: white;
}

.timetable th:hover {
    background-color: rgba(13, 15, 173, 0.5);
    color: white;
}

.timetable td:hover {
    background-color: rgba(13, 15, 173, 0.5);
    color: white;
}