<input type="radio" [(ngModel)]="selectedLineType" (change)="lineTypeChanged()" value="urban" /> <label>Urban</label>
<input type="radio" [(ngModel)]="selectedLineType" (change)="lineTypeChanged()" value="suburban" />
<label>Suburban</label> <br />

<div id="lines" *ngIf="selectedLineType !=''">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a *ngFor="let line of linesToShow" (click)="onLineSelection(line)" class="btn btn-primary btn-lg"
        [class.active]="line==selectedLine">{{line.OrderNumber}}</a>
    </li>
  </ul>
</div>

<div id="dayType" *ngIf="selectedLine != null">
  <br />
  <select [(ngModel)]="selectedDayType" (change)="onChangeDayType()">
    <option value="1">Work day</option>
    <option value="2">Saturday</option>
    <option value="3">Sunday</option>
  </select>
</div>


<div id="timetableEntry" *ngIf="formReady == true">
  <form [formGroup]="departuresForm" *ngIf="departuresForm" (ngSubmit)="onSubmitDepartures()">
    <table class="table table-hover table-fixed">
      <thead>
        <tr align="center">
          <th *ngIf="selectedDayType==1">
            Work day
          </th>
          <th *ngIf="selectedDayType==2">
            Saturday
          </th>
          <th *ngIf="selectedDayType==3">
            Sunday
          </th>
        </tr>
      </thead>

      <div formArrayName="departures">
        <tr *ngFor="let ddeparture of getDepartures.controls; let i = index" [formGroupName]="i" align="center">
          <td>
            <div class="input-group mb-1">
              <input type="text" formControlName="departure" class="form-control"/>
              
            </div>
          </td>
          <td>
              <button type="button" (click)="removeRow(i)" class="btn btn-success btn-lg btn-block">Remove</button>
          </td>
        </tr>

        <tr>
          <td>
            <button type="submit" [disabled]="departuresForm.invalid"
              class="btn btn-success btn-lg btn-block">Submit</button>
          </td>
          <td>
            <button type="button" (click)="addRow()" class="btn btn-success btn-lg btn-block">Add</button>
          </td>
        </tr>

        
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="reset()">Reset</button>

    </table>
  </form>
</div>






<!-- <div class="timetable">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a (click)="onIsUrbanSelection(true)" class="btn" [class.active]="isUrbanSelection==true" role="button" aria-pressed="true">Urban</a>
    </li>
    <li class="nav-item">
      <a (click)="onIsUrbanSelection(false)" class="btn" [class.active]="isUrbanSelection==false" role="button" aria-pressed="true">Suburban</a>
    </li>
  </ul>

  <ng-container *ngIf="isUrbanSelection==true">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a *ngFor="let line of urbanLines" (click)="onLineSelection(line)" class="btn btn-primary btn-lg" [class.active]="lineSelection != undefined && lineSelection != null && lineSelection != '' && line===lineSelection" role="button" aria-pressed="true">{{line}}</a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="isUrbanSelection==false">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a *ngFor="let line of suburbanLines" (click)="onLineSelection(line)" class="btn btn-primary btn-lg" [class.active]="lineSelection != undefined && lineSelection != null && lineSelection != '' && line===lineSelection" role="button" aria-pressed="true">{{line}}</a>
      </li>
    </ul>
  </ng-container>

  <table class="table table-hover table-fixed">
    <thead>
      <tr align="center">
        <th (click)="onDaySelection(0)" [class.selected]="daySelection==0">
          Weekday
        </th>
        <th (click)="onDaySelection(1)" [class.selected]="daySelection==1">
          Sathurday
        </th>
        <th (click)="onDaySelection(2)" [class.selected]="daySelection==2">
          Sunday
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="daySelection==undefined || daySelection==null">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].weekday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].sathurday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input [(ngModel)]="filteredDepartures[i].sunday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==0">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].weekday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==1">
        <tr *ngFor="let departure of filteredDepartures; let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].sathurday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="daySelection!=undefined && daySelection!=null && daySelection==2">
        <tr *ngFor="let departure of filteredDepartures;  let i = index" align="center">
          <td colspan=3>
            <div class="input-group mb-3 singleColumn">
              <input [(ngModel)]="filteredDepartures[i].sunday" type="text" class="form-control" placeholder="Departure time" aria-label="Departure time" aria-describedby="basic-addon2">
              <div class="input-group-append singleColumn">
                <span class="input-group-text">example 09:15</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <br />
  <a (click)="onSave()" class="btn btn-primary" role="button">Save</a>
</div> -->